<div class="container">
    <img [src]=" page.imageUrl" [alt]="page.name" />
    
    <div class="detaills">
        <div class="header">
            <span class="name">
                {{page.name}}
            </span>
            <span class="price">
                {{page.price}}
            </span>
            
        </div>
        <button class="btn btn-success"  routerLink="/contact">valider</button>
    </div>
    <hr>
</div>  
<div class="col-lg-2">
    <a href="#" target="_blank"><i class="bi bi-shield-check"></i></a>
    <a href="#" target="_blank"><i class="bi bi-truck"></i></a>
    <a href="#" target="_blank"><i class="bi bi-hand-thumbs-up"></i></a>
   
</div>   

