<div class="container">
    <img [src]=" montre.imageUrl" [alt]="montre.name" />
    
    <div class="detaills">
        <div class="header">
            <span class="name">
                {{montre.name}}
            </span>
            <span class="price">
                {{montre.price}}
            </span>
            
        </div>
        <button class="btn btn-success"  routerLink="/contact">valider</button>
        <hr>
    </div>
</div>  
 

<div class="col-lg-2">
    <a href="#" target="_blank"><i class="bi bi-shield-check"></i></a>
    <a href="#" target="_blank"><i class="bi bi-truck"></i></a>
    <a href="#" target="_blank"><i class="bi bi-hand-thumbs-up"></i></a>
   
</div>

